* {
    padding: 0px;
    margin: 0px;
}

.background-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05b8ff;
    background: radial-gradient(circle, rgba(5, 184, 255, 1) 0%,
    rgba(196, 55, 55, 1) 0%, rgba(87, 199, 133, 1) 0%, rgba(141, 23, 145, 1) 0%,
    rgba(34, 199, 185, 1) 100%);
    z-index: 0;
}

.content {
    background-color: whitesmoke;
    opacity: 0.22;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 10px ;
}

.ul-list {
    display: flex;
    justify-content:flex-start;
    list-style: none;
    font-size: xx-large;
    font-weight: bolder;
}