* {
    margin: 0px;
    padding: 0px;
}
.navbar-container {
    position: sticky;
    top: 0;
}
.list-container {
    width: 100%;
    height: 8vh;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: white;
    color: black;
    border: 2px solid black;
    list-style: none;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
.list:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.dropdown-container {
    justify-content: center;
    align-items: center;
    background-color: #666;
    display: none;

}
.dropdown {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    background-color: white;
    margin: 5px;
    padding: 2px;
    font-size: small;
    font-weight: 600;
}
.dropdown:hover {
    border: 2px solid white;
    color: white;
    background-color: black;
}
.navbar-container:hover .dropdown-container {
    display: flex;
}