nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
}

/* pseudo element selector */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
    background-color: black;
}

