@media all {
    .container {
        display: grid;
        gap: 5px;
        background-color: aqua;
        /* grid-template-columns: 1fr; */
    }

    .content {
        background-color: aquamarine;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }

}